[SddmGreeterTheme]
Name=sddm-arona-theme
Description=sddm-arona-theme
Author=dungdinhmanh
Website=https://github.com/dungdinhmanh/sddm-arona-theme
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.0
ConfigFile=Themes/arona_live.conf
Screenshot=Previews/arona_live.png
MainScript=Main.qml
TranslationsDirectory=translations
Theme-Id=sddm-arona-theme
Theme-API=2.0
QtVersion=6
